<ion-header>
  <ion-navbar>
    <ion-title>
      Address
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-list class="accordion-list">
    <!-- First Level -->
    <ion-list-header *ngFor="let item of information; let i = index" no-lines no-padding>
      <!-- Toggle Button -->
      <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': item.open, 'section': !item.open}">
        <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
        <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
          {{ item.deptInfo.name }}
      </button>
 
      <ion-list *ngIf="item.userList && item.open" no-lines>
       
        <ion-list-header *ngFor="let child of item.userList; let j = index" no-padding>
          
          <button ion-item (click)="toggleItem(i, j)" *ngIf="child.deptInfo" class="child" detail-none>
            <ion-icon item-left name="add" *ngIf="!child.open"></ion-icon>
            <ion-icon item-left name="close" *ngIf="child.open"></ion-icon>
            {{ child.deptInfo.name }}
          </button>

         
           <ion-item *ngIf="!child.userList" ion-item detail-none class="child-item" text-wrap>
            <h2>{{ child.name }}</h2>
            <p text-lowercase>{{ child.information }}</p>
            <button ion-button outline item-end (click)="buyItem(child)">{{ child.mobile }}</button>
          </ion-item>
 
          <ion-list *ngIf="child.userList && child.open">
            
            <ion-item *ngFor="let item of child.userList; let k = index" detail-none class="child-item" text-wrap (click)="buyItem(item)">
              <h2>{{ item.name }}</h2>
              <p text-lowercase>{{ item.information }}</p>
              <button ion-button outline item-end >{{ item.mobile }}</button>
            </ion-item>
          </ion-list> 
 
        </ion-list-header>
      </ion-list>
      
    </ion-list-header>
  </ion-list>
</ion-content>