<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="total-wrapper">
        <div class="fix-column">
            <div class="thead">
                <span>Int1</span>
            </div>
            <div class="tbody">
                <div class="trow" *ngFor="let item of data.areaPlaces">
                    <span>{{item.name}}</span>
                </div>
                
            </div>
        </div>
        <div class="rest-columns">
            <div class="thead" >
                <span *ngFor="let time of this.ondutyDate">{{time}}</span>
            </div>
            <div class="tbody">
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                <div class="trow">
                    <span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span><span>ipsum</span><span>dolor</span><span>sit</span><span>amet</span>
                </div>
                
            </div>
        </div>
    </div>
</ion-content>
